{% load static %}
<!doctype html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <meta name = "viewport"
          content = "width=device-width, user-scalable=no, initial-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>Exam Maker</title>
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity = "sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin = "anonymous">
    {# bootstrap icons cdn#}
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {# custom css files #}
    <link rel = "icon" type = "image/x-icon" href = "/media/ema.png">

    <link rel = "stylesheet" href = "{% static 'index.css' %}">

</head>
<body>
{# HEADER #}
{% block content %}
    {% include 'header.html' %}
{% endblock %}

<section class = "bg-section">

    <form action = "#" class = "container-lg">
        <p class = " display-5 text-center ">Create Exam</p>
        <div class = "row">

            <div class = "col">
                <label for = "examtitle" class = "form-label">Exam Title</label>
                <input type = "text" class = "form-control" id = "examtitle">

                <label for = "duration" class = "form-label mt-3">Exam Duration</label>
                <input type = "text" class = "form-control" id = "duration">

                <div>
                    <p class = "lead mt-3">Multiple Choice Questions</p>
                    {#----FOR ADDING FIELDS THROUGHT JAVASCRIPT----#}

                    <div id = "mcqsContainer">
                        <!-- Dynamic MCQ fields will be added here -->
                    </div>

                    <button class = "btn btn-dark" id = "addMcqsBtn" type = "button">Add MCQ</button>
                    <button class = "btn btn-dark" type = "button" id = "saveMcqsBtn">Save MCQ</button>
                </div>


                <div>
                    <p class = "lead mt-3">Subjective Questions</p>
                    <button class = "btn btn-dark" id = "addquestions" type = "button">Add Questions</button>
                </div>


                <div>
                    <p class = "lead mt-3">Instructions</p>
                    <button class = "btn btn-dark" id = "instructions" type = "button">Add Instructions</button>
                </div>


            </div>
            {#-----------------------------------------------------#}
            <div class = "col">
                <label for = "instructor" class = "form-label">Instructor</label>
                <input type = "text" class = "form-control" id = "instructor">

                <label for = "marks" class = "form-label mt-3">Total Marks</label>
                <input type = "text" class = "form-control" id = "marks">

            </div>

        </div>
    </form>


</section>


{##}
{#{% block footer %}#}
{#    {% include 'footer.html' %}#}
{#{% endblock %}#}


<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity = "sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin = "anonymous"></script>

<script src = "{% static 'js/createexam.js' %}"></script>


</body>

</html>